.label{
    -fx-font-size:30 px;
    -fx-font-wight:bolder;
    -fx-text-fill:black ;



}
.button{
    -fx-font-size:15px;
    -fx-font-wight:bold;
    -fx-text-fill:black;
    -fx-background-color:#99AEE8;
    -fx-border-radius:5;
    -fx-border-color:transparent;
    -fx-transition:all 0.5s;
    -fx-border-radius:2;
    -fx-display: inline-block;
}
.root{
    -fx-background-color:white;
    -fx-background-position:center center;
    -fx-background-image: url("/freepik__upload__56702.png");
    -fx-background-size: 1000px 800px;
}
.title{
    -fx-font-size:20px;
    -fx-font-wight:bold;
    -fx-font-color:black;
}
.button:hover{
       -fx-background-color:#0065ff;
       -fx-border-color:#0065ff;
       -fx-text-fill:white;
       -fx-translate-y:-3px;
       -fx-translate-x:0px;
       -fx-scale-x:1.05;
       -fx-scale-y:1.05;
}